  body { /* Visual */ 
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/491274240789520928/48B14A526D4B2D07846C2917398C3EE573D474B2/");
    background-repeat: no-repeat;

    background-size: 100% auto;

    position: absolute;
    top: 0;
    left: 0;
}

  #question-container {

    /* Positioning */
     margin: 0 auto;

    /* Box-model */
    height : 800px;
    width: 800px;

    /* Typography */
    color: white;
    font-family: 'Kalam', cursive;
    font-size: 18px;
    text-align: center;

  }

  .question-text {
    font-size: 28px;
  }

  .timer-text {
      margin: 0;

      font-size: 20px;
  }

  #option-text {
  }

  button {

    /* Box-model */
    width: 200px;
    height: 100px;

    margin: 50px 0;

    font-family: 'Kalam', cursive;
    text-align: center;


  }

  #gif {
    width: 300px;
    height: 150px;

    padding: 10px;

    border-color: white;
    border-style: dashed;
    border-width: 1px;
}

