  body { 
    /* Visual */ 
    background-color: black;
}

  #game-card {
    background-image: url("./../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    height: 620px;

}

  #question-container {
    text-align: center;
  }

  #card-title {
    /* Typography */
    color: black;
    font-family: 'Parisienne', cursive;
  }

  .timer-text {
      margin: 0;

      font-size: 20px;
  }

  button {
    font-family: 'Parisienne', cursive;
    text-align: center;
  }

  #option-text {
    background: none !important;

    border-width: 0;
  }

  #option-text:hover {
    font-weight: bold;
  }

  #res-quote {
    font-size: 16px;
  }

  #res-source {
    font-size: 12px;
  }

/*
font-family: 'Homemade Apple', cursive;
font-family: 'Parisienne', cursive;
*/

/* Responsiveness */

@media only screen and (min-width: 768px) {
  #game-card { height: 385px; }
  #question-text { font-size: 16px; }
  #option-text { font-size: 12px; }
}
@media only screen and (min-width: 992px) {
  #game-card { height: 520px; }
}
@media only screen and (min-width: 1200px) {
  #game-card { height: 620px; }
}